.wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: 'header header' 'n content';
    width: 1278px;
    margin: 0 auto;
    gap: 15px;
}


